<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebRTC Video Conference</title>
    <link rel="icon" type="image/x-icon" href="../public/image-assets/logo-favicon.png">
    <link rel="stylesheet" href="../public/css/style-room.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="form" class="glow">
            <div id="content">
                <div id="left-content">
                    <div class="top-left">
                        <div class="logo">
                            <img src="../public/image-assets/logo.png" style="height: 35px; margin-top: 12px;">
                        </div><!--End of logo-->
                        <div class="header">
                            <p style="margin: 0px; padding: 12px 0px 0px 10px; font-weight: bold;">
                              A WebRTC Video Conference App
                            </p>
                            <p id="date" style="margin: 0px; padding: 0px 0px 0px 10px; font-size: 10pt;">
                              Sunday, 1 Jan 2023
                            </p>
                            <span id="power" onclick="leaveMeeting()">
                              <i class="material-icons">&#xe8ac;</i>
                            </span>
                          </div>
                          <!-- End of header -->
                    </div><!--End of top left-->
                    <div class="middle-left">
                        <img src="../public/image-assets/user-large.png" id="main-video">
                        <div id="video-grid">
                          <div>
                            <img src="../public/image-assets/user-mini-1.png" class="vid">
                            <div class="label-mini-vid">Muslima</div>
                          </div>
                          <div>
                            <img src="../public/image-assets/user-mini-2.png" class="vid">
                            <div class="label-mini-vid">Abraham</div>
                          </div>
                          <div>
                            <img src="../public/image-assets/user-mini-3.png" class="vid">
                            <div class="label-mini-vid">Andrew</div>
                          </div>
                        </div><!--End of video grid-->
                      </div><!--End of middle left-->
                      <div id="bot-left">
                        <div class="command-btn" id="audioControl" onclick="muteUnmute()">
                          <i class="material-icons">&#xe029;</i>
                          <p class="label">Mic</p>
                        </div>
                        <div class="command-btn" id="videoControl" onclick="playStop()">
                          <i class="material-icons">&#xe04b;</i>
                          <p class="label">Cam</p>
                        </div>
                        <div class="command-btn" id="shareControl" onclick="shareScreen()">
                          <i class="material-icons">&#xe0df;</i>
                          <p class="label" id="shareText">Share</p>
                        </div>
                        <div class="command-btn" id="recordControl" onclick="recordMeeting()">
                          <i class="material-icons">&#xe061;</i>
                          <p class="label">Record</p>
                        </div>
                      </div>
                </div><!--End of left content-->
                <div id="right-content">
                  <p style="margin: 15px; padding: 12px 0px 0px 10px; font-weight: bold; color: #202020;">Chat with Friends</p>
                  <div class="active"></div>
                  <div id="info">
                    <p style="color: #ffffff; font-size: 11pt; padding: 10px 0px 0px 12px;">People in room:</p>
                    <p style="color: #ffffff; font-size: 50pt; padding-left: 120px;" id="participant">4</p>
                    <i class="material-icons" style="color: #ffffff; font-size: 40px; position: relative; bottom: 47px; left: 228px;">&#xe7fd;</i>
                </div><!--End of infor-->
                <div id="chatroom">
                  <div id="left-chatroom" style="background: #00d9fb66;">
                      <p class="profil">A</p>
                      <div class="mini-active"></div>
                  </div>
                  <div id="right-chatroom">
                      <div id="message">
                          <p id="message-user" style="color: #303030; font-weight: bold;">Abraham</p>
                          <p id="message-text">how are you, guys?</p>
                      </div>
                      <p id="time-text" style="font-size:11px; color:#303030; margin-left: 55px; margin-top: 0px; padding-top: 0px;">19.05</p>
                  </div>
              
                  <div id="left-chatroom" style="background: #ff00ea66;">
                      <p class="profil">M</p>
                      <div class="mini-active"></div>
                  </div>
                  <div id="right-chatroom">
                      <div id="message">
                          <p id="message-user" style="color: #303030; font-weight: bold;">Muslima</p>
                          <p id="message-text">been busy lately...</p>
                      </div>
                      <p id="time-text" style="font-size:11px; color:#303030; margin-left: 55px; margin-top: 0px; padding-top: 0px;">19.05</p>
                  </div>
              </div><!--End of chatroom-->
              <div id="chatform">
                <label>
                    <input type="file" id="file" style="display: none;">
                    <i class="material-icons" style="font-size: 18px; color: #4f4f4f; float: left; margin-left: 10px; margin-top: 15px; transform: rotate(45deg); cursor: pointer;">&#xe226;</i>
                </label>
                <input id="textchat" type="text" placeholder="Type here ...">
                <button id="sendMessage" style="background-color: #fd6f13; border: none; margin-left: 8px; padding: 4px 3px 2px 3px; margin-top: 8px; border-radius: 6px; cursor: pointer;">
                    <i class="material-icons" style="color: #ffffff; font-size: 25px; font-weight: bold;">&#xe315;</i>
                </button>
            </div>

                </div><!--End of right content-->
            </div><!--End of content-->
        </div><!--End of form-->
    </div><!--End of container-->
    
</body>

</html>
